<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Shop - login</title>

    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css">
</head>
<body>
        

     {% block content %}

<div id="container" >
        {% if user.is_authenticated %}

    <div class = "m10 shadowbox"  id="content">
                   <table align="center">
                 <tr>
                    <td>
                        <p>Welcome, {{ user.username }}.</p>
                    </td>
                 </tr>
                <tr>
                    <td>
                        <a href="/shop/">Go to the shop</a>
                    </td>
                </tr>
            </table>
    </div>


        {% else %}
          <div class = "m10 p10 shadowbox"  id="loginform" >
            
                    {{ error }}
                    <form method="post" action="/login/">
                         {% csrf_token %}

                        <input type='hidden' name='redirect' value={{ redirect }} />
                        <table align="center">
                            <tr >
                                <td colspan="2"><h1 style="text-align:center;">Logowanie</h1></td> 
                                 
                            </tr>
                            <tr>
                                <td>Username:</td>
                                 <td> <input type="text" name="username" /></td>
                            </tr>
                        
                            <tr>
                                <td>Password:</td>
                                <td><input type="password" name="password" /></td>
                            </tr>
                            <tr>

                                <td colspan="2">
                                    <input type="submit" value="Zaloguj" />
                                </td>
                           </tr>
                            </table>
                    </form>
                
                
            
        
        <form method="post" action="/register/">
        {% csrf_token %}
            <table align="center" style="margin-top:40px;">
                            <tr>
                                <td colspan="2"><h1 style="text-align:center;">Rejestracja</h1></td> 
                                 
                            </tr>
                            <tr>
                                <td>Username:</td> 
                                 <td>{{ register.username }}</td>
                            </tr>
                        
                            <tr>
                                <td>Password:</td>
                                <td>{{ register.password }}</td>
                            </tr>
                            <tr>
                                <td>E-mail:</td>
                                <td>{{ register.email }}</td>
                            </tr>
                            <tr>

                                <td colspan="2">
                                    <input type="submit" value="Zarejestruj" />
                                </td>
                           </tr>
            </table>

        </form>

       </div>
            
        {% endif %}
            </div>
    {% endblock %}

</body>
</html>
