

<div id="container">
    <div class = "m10 p10 shadowbox" id="menu"  >
        {% include "userMenu.html" %}     
    </div>
    <div class = "m10 shadowbox"  id="content">

<table>
    <tbody>
        <tr>
            <td>
                <p>Date: </p>
            </td>
            <td>
                <p>{{ bought.Date }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Address: </p>
            </td>
            <td>
                <p> {{ bought.ShippingInformation.Name }} {{ bought.ShippingInformation.Surname }} 
                {{ bought.ShippingInformation.Address }} {{ bought.ShippingInformation.City}} {{ bought.ShippingInformation.Country }}</p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% if shinf_list %}
                    <form action="/shop/bought/{{ bought.id }}/" method="post">
                        {% csrf_token %}
                        <select name="ShippingInformation">                            
                        {% for shinf in shinf_list%}                
                            <option value={{ shinf.id }}> {{ shinf.Name }} {{ shinf.Surname }},  {{ shinf.Address }} {{ shinf.City }} {{ shinf.Country }} </option>                                   
                        {% endfor %}
                        </select> 
                    <input type="submit" value="Change" />
                    </form>
                {% endif %}
            </td>            
        </tr>

        {% if order_list %}
            {% for order in order_list %}
            <tr>
                <td>
                    <a href="/shop/product/{{ order.Product.id }}/"> {{ order.Product.Name }}</a> 
                </td>
                <td>
                    <form action="/shop/bought/{{ bought.id }}/" method="post">
                        {% csrf_token %}
                        <input id="id_Count" min="1" name="Count" value={{ order.Number }} type="number">
                        <input name="Order" value={{ order.id }} type="hidden">
                        <input value="Update" type="submit"><br>
                    </form>
                </td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td>
               No order. 
            </td>
        </tr>
        {% endif %}  
    </tbody>
</table>
    
                                  

    </div>
</div>
