{% if bought_list %}

<div id="container">
    <div class = "m10 p10 shadowbox" id="menu"  >
        {% include "userMenu.html" %}     
    </div>
    <div class = "m10 shadowbox"  id="content">

        <form action="/shop/buy/" method="post">
        
        <table align="center">
    <tbody>
    {% for bought in bought_list %}
        <tr>
            <td>
                    <a href="/shop/bought/{{ bought.id }}/">{{bought}}</a><br />
            </td>
            <td>
                <form action="/shop/bought/" method="post">
                    {% csrf_token %}
                    <input name="Bought" value={{ bought.id }} type="hidden">
                    <input type="submit" value="Anuluj Zamówienie"  />
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>       
    </form>     
                                  

    </div>
</div>
{% endif %}