<html>
    <head>
      <title>Sklep Komputerowy</title>    
      <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">  
        <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css"> 
      <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">        
       <script type="text/javascript">
        
           function addOrUpdateUrlParam(name, value) {
               document.getElementById(name).value = value;

               var href = window.location.href;
               var regex = new RegExp("[&\\?]" + name + "=");
               if (regex.test(href)) {
                   regex = new RegExp("([&\\?])" + name + "=\\d+");
                   window.location.href = href.replace(regex, "$1" + name + "=" + value);
               }
               else {
                   if (href.indexOf("?") > -1)
                       window.location.href = href + "&" + name + "=" + value;
                   else
                       window.location.href = href + "?" + name + "=" + value;
               }
           }
       </script>
    </head>
    <body>
        <div class="shadowbox p10" id="topbar" max-height="60px">
            <div id="logo" align="left" class="ml10">
               <a href="/shop/"> <img src="/static/admin/img/Images/logo.png" height="40"/></a>
            </div>
            <div id="cart" align="right" class="mr40 mt5">
               <a href="/shop/basket/"> <img src="/static/admin/img/Images/shopping-cart.png" height="30"/></a>
            </div>
            {% if user.is_authenticated %}
            <div id="cart" align="right" class="mr10 mt10">
               <a href="/shop/options/">{{ user.username }}</a>
            </div>
            {% else %}
            <div id="cart" align="right" class="mr10 mt10">
               <a href="/login/">Zaloguj</a>
            </div>
            {% endif %}
        </div>


        
        {% if error_list %}
        {% include "error.html" %}
        {% endif %}
         {% autoescape off %}                   
                            {{ content }}
                        {% endautoescape %}
        {% include "stopka.html" %} 

    </body>
</html>
