<table align="center" style="background-color: gold; border: 1px solid black;">
    <tbody>
        <tr>
            <td>
                <a href="/shop/">Sklep</a> 
            </td>
            <td>
                <a href="/shop/basket/">Panel Uzytkonika</a>
            </td>
            <td>                    
                {% if user.is_authenticated %}
                    <a href="/logout/">Wyloguj</a>
                {% else %}
                    <a href="/login/">Zaloguj</a>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>