<div style="text-align:center; font-size:medium;" id="mainmenu">
    <div  class="mr10 ml10 br1" id="menuentry">
        <a href="/shop/">Sklep</a> 
    </div>

    <div  class="mr10 ml10 " id="menuentry">
        <a href="/shop/basket/">Panel Uzytkonika</a>
    </div>
    {% if user.is_authenticated %}
        <div  class="mr10 ml10 " id="menuentry">
            <a href="/logout/">Wyloguj</a>
        </div>
    {% else %}
        <div  class="mr10 ml10 " id="menuentry"> 
            <a href="/login/">Zaloguj</a>
        </div>
    {% endif %}

</div>
