<div id="container">
    <div class = "m10 p10 shadowbox" id="menu"  >
        {% include "userMenu.html" %}     
    </div>
    <div class = "m10 shadowbox"  id="content">


        
<table>
    <tbody>
        {% if shinf_list %}
            {% for shinf in shinf_list %}
                <tr>
                    <td>
                        {{ shinf.Address }}
                    </td>
                    <td>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="shinf_if" value={{shinf.id }}>
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {%endif%}

                <form action="" method="post">
                    {% csrf_token %}
                    <tr>
                       <td> <label>Name:</label> 
                        </td>
                        <td>{{ form.Name }}</td>       
                    </tr>
                    <tr>
                       <td> <label>Surname:</label> 
                        </td>
                        <td>{{ form.Surname }}</td>       
                    </tr>
                    <tr>
                       <td> <label>Address:</label> 
                        </td>
                        <td>{{ form.Address }}</td>       
                    </tr>
                    <tr>
                       <td> <label>City:</label> 
                        </td>
                        <td>{{ form.City }}</td>       
                    </tr>
                    <tr>
                       <td> <label>Country:</label> 
                        </td>
                        <td>{{ form.Country }}</td>       
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Dodaj" /></td>
                    </tr>
                    
                </form>
           
        
    </tbody>
</table> 
    
                                  

    </div>
</div>