{% if user.is_authenticated %}
<div style="text-align:center; font-size:medium; margin:0; padding:0;">
    <div  class="" id="menuentry2">                   
                 <a href="/shop/basket/">Koszyk</a>
    </div>

     <div  class="" id="menuentry2">
                <a href="/shop/bought/">Zamowione</a>
     </div>

      <div  class="" id="menuentry2">
                <a href="/shop/completed/">Zrealizowane</a>
      </div>

    <div  class="" id="menuentry2">
                <a href="/shop/options/">Options</a>
    </div>
    <div  class="mb10" id="menuentry2">
                <a href="/logout/">Wyloguj</a>
    </div>
</div>
{% endif %}